body {
  display: grid;
  grid-template-areas: "Aside Main";
  height: 100vh; }
  body .l-aside {
    grid-area: Aside;
    border: 4px solid #49a1ec;
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 2fr 8fr; }
    body .l-aside header {
      grid-area: top;
      display: grid;
      grid-template-areas: "pic playback";
      grid-template-columns: 2fr 4fr;
      border: 2px solid green; }
    body .l-aside .calendar {
      grid-area: bottom; }
  body .l-main {
    grid-area: Main;
    border: 4px solid #49a1ec; }
    body .l-main .main-top {
      display: grid;
      grid-template-areas: "main-top-left main-top-right";
      grid-template-columns: 2fr 1fr; }
      body .l-main .main-top .main-top-left {
        grid-area: main-top-left; }
      body .l-main .main-top .main-top-right {
        border: 2px solid red;
        grid-area: main-top-right; }

.calendar {
  margin: 0 auto;
  width: 400px; }

.workout-stats {
  text-align: center;
  color: #49a1ec; }

.icon {
  height: 50px; }

.side-bar .user-icon {
  height: 100px; }

.side-bar .inspiration-text {
  color: #49a1ec; }

.side-bar .calendar-pic {
  height: 100%;
  width: 100%; }

header {
  text-align: center; }
  header .header-right {
    display: flex;
    align-items: center;
    flex-direction: column; }
  header .playback {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%; }
  header img.buttons {
    height: 25px; }

.graph-section {
  display: flex;
  justify-content: space-evenly;
  height: 300px; }
